{% extends "xbase.html" %}

{% load i18n compress %}
{% load satchmo_category %}
{% load satchmo_google %}
{% load satchmo_util %}
{% load satchmo_currency %}
{% load satchmo_discounts %}
{% load app_plugins %}
{% load normalize_decimal %}
{% plugin_point "cart" %}

{% block additional-head %}
    <link href='http://fonts.googleapis.com/css?family=Muli:300,400'
          rel='stylesheet' type='text/css'>
{% endblock %}


{% block title %}{{ shop_name }}{% if pagetitle %}: {{ pagetitle }}
{% endif %}{% endblock %}

{% block header %}
    <div id="container">

    <div id="navbar">
        <a href="/"><div class="logo"></div></a>

        <ul class="primary-nav">
            <li><a class="down-arrow" href="">Designers</a></li>
            <li><span></span></li>
            <li><a href="">Ocassion</a></li>
            <li><a href="">Accessories</a></li>
            {% url 'satchmo_product_best_selling' as popularurl %}
            {% if popularurl %}
                <li><a href="{{ popularurl }}">Popular Items</a></li>
            {% endif %}
            {% url 'satchmo_product_recently_added' as recenturl %}
            {% if recenturl %}
                <li><a href="{{ recenturl }}">Recently Added</a></li>
            {% endif %}
        </ul>
        {% satchmo_search_form %}
        <ul class="secondary-nav">
            {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}"
                       target="blank">Admin</a></li>
            {% endif %}

            {% if user.is_authenticated %}
                {% url 'satchmo_account_info' as accounturl %}
                {% if accounturl %}
                    <li><a href="{{ accounturl }}" target="blank">Account
                        Details</a></li>
                {% endif %}
                <li><a href="{{ logout_url }}">Log
                    out</a></li>
            {% else %}
                <li><a href="{% url 'registration_register' %}">Register</a>
                </li>
                <li><a href="{{ login_url }}?next={{ request.path }}">Log
                    in</a></li>
            {% endif %}
            <li><span></span></li>
            {% url 'satchmo_cart' as carturl %}
            {% if carturl %}
                <li><a class="cart" href="{{ carturl }}">{{cart_count|normalize_decimal}} items</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
{% block footer %}
    <div id="footer">
        <div id="footer-items">
            <div class="footer-column">
                <p>About</p>
                <ul>
                    <li><a href="">How it works</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Press</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <p>My Account</p>
                <ul>
                    <li><a href="">Settings</a></li>
                    <li><a href="">Orders &amp; Returns</a></li>
                    <li><a href="">Report Someone</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <p>Contact Us</p>
                <ul>
                    <li><a href="">Email</a></li>
                    <li><a href="">Send Feedback</a></li>
                </ul>
            </div>
            <div class="footer-column">
                {% if user.is_authenticated and shop.owner == User %}
                <p>Manage your Shop</p>
                <ul>
                    {# TODO: store create in a context variable #}
                    <li><a href="">View Shop</a></li>
                    <li><a href="">Update your Shop</a></li>
                    <li><a href="">Add Products</a></li>
                </ul>
                {% else %}
                <p>Become a Vendor</p>
                <ul>
                    {# TODO: store create in a context variable #}
                    <li><a href="/create/">Create a Shop</a></li>
                    <li><a href="">Shop Handbook</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="footer-row">
            <ul>
                <li><a href="">© {% now "Y" %} Ni</a></li>
                <li><a href="">Terms</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Copyright</a></li>
            </ul>
        </div>
    </div>
    </div>
{% endblock %}

{% block compressed-footer-scripts %}
    <script src="{{ STATIC_URL }}js/pickadate.js"></script>
    <script src="{{ STATIC_URL }}js/svgcheckbx.js"></script>
    <script>
        /* Form on the homepage*/

        $(function () {
            ['#delivery-date', '#return-date'].forEach(function (dateFormId) {
                $(dateFormId).pickadate({
                    onOpen: function () {
                        // scrollIntoView(this.$node);
                    }
                });
            });
        });
    </script>
{% endblock %}
