{% load i18n satchmo_category satchmo_google satchmo_util satchmo_currency satchmo_discounts app_plugins normalize_decimal %}
{% block doctype %}<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% endblock %}
<head>
	<link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    {% block extra-head %}{% endblock %}
    {% block stylesheet %}<link rel="stylesheet" href="{{ media_url }}css/style.css" />{% endblock %}
    <title>{% block title %}{{ shop_name }}{% if pagetitle %}: {{ pagetitle }}{% endif %}{% endblock %}</title>
    {% plugin_point "page_head" %}
</head>
{% block body %}
<body{% if bodyid %} id="{{ bodyid }}"{% endif %}{% if bodyclass %} class="{{ bodyclass }}"{% endif %}>
    {% plugin_point "page_top" %}
    <div id="container">

	<div id="navbar">
	 	<div id="logo"></div>
		<ul id="primary-nav">
			<li><a class="down-arrow" href="">Stores</a></li>
			<li><span></span></li>
			<li><a href="">Ocassion</a></li>
			<li><a href="">Accessories</a></li>
			{% url satchmo_product_best_selling as popularurl %}
			{% if popularurl %}
			<li><a href="{{ popularurl }}">Best Sellers</a></li>
			{% endif %}
			{% url satchmo_product_recently_added as recenturl %}
			{% if recenturl %}
			<li><a href="{{ recenturl }}">Recently Added</a></li>
			{% endif %}
		</ul>
		<ul id="secondary-nav">
			<li>{% satchmo_search_form %}</li>
			{% if user.is_staff %}
			<li><a href="{% url admin:index %}" target="blank">Admin</a></li>
			{% endif %}
			{% if user.is_authenticated %}
			{% url satchmo_account_info as accounturl %}
		    {% if accounturl %}
		    <li><a href="{{ accounturl }}" target="blank">Account Details</a></li>
		    {% endif %}
		    <li><a href="{{ logout_url }}?next={{request.path}}">Log out</a></li>
			{% else %}
		    <li><a href="{% url registration_register %}">Register</a></li>
		    <li><a id="login" href="{{ login_url }}?next={{request.path}}">Log in</a></li>
			{% endif %}
			<li><span></span></li>
			{% url satchmo_cart as carturl %}
	   		{% if carturl %}
	   		<li><a href="{{ carturl }}"></a></li>
	   		{% endif %}
		</ul> 
    </div>

	<div id="content">
	    {% block content %}{% endblock %}
	</div>

	<div id="footer">
		{% block footer %}
		{% blocktrans %}Powered by <a href="http://www.satchmoproject.com">Satchmo</a>.{% endblocktrans %}
		{% endblock %}
	</div>

    </div>
	{% block page-close %}
    {% block google-tracker %}
    {% if shop.options.GOOGLE.ANALYTICS.value %}
        {% show_tracker is_secure %}
    {% endif %}
    {% endblock %}
	{% endblock %}
</body>
{% endblock %}
</html>
