{% extends "xbase.html" %}

{% load i18n compress %}
{% load satchmo_category %}
{% load satchmo_google %}
{% load satchmo_util %}
{% load satchmo_currency %}
{% load satchmo_discounts %}
{% load app_plugins %}
{% load normalize_decimal %}


{% block additional-head %}
    <link href='http://fonts.googleapis.com/css?family=Muli:300,400'
          rel='stylesheet' type='text/css'>
{% endblock %}


{% block title %}{{ shop_name }}{% if pagetitle %}: {{ pagetitle }}
{% endif %}{% endblock %}

{% block header %}
    <div id="container">

    <div id="navbar">
        <a href="/"><div class="logo"></div></a>
        <ul class="primary-nav">
            <li class="dropdown">
            <a href="#designers" class="toggle">Designers</a>
                <div class="dropdown_panel" id="dropdown-1">
                    <div class="dropdown_panel_wrapper">
                        <div class="dropdown_panel_content">
                            <div class="dropdown_panel_content_column">
                                <h2 class="dropdown_panel_content_heading">
                                    New
                                </h2>
                                <ul class="dropdown_panel_content_menu">
                                    {% for product in all_products_list|slice:":5" %}
                                        <li><a href="">{{ product.short_description  }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="dropdown_panel_content_column">
                                <h2 class="dropdown_panel_content_heading">
                                    Popular
                                </h2>
                                <ul class="dropdown_panel_content_menu">
                                    {% for product in all_products_list|slice:":5" %}
                                        <li><a href="">{{ product.short_description  }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="dropdown_panel_content_column">
                                <h2 class="dropdown_panel_content_heading">
                                    Best Sellers
                                </h2>
                                <ul class="dropdown_panel_content_menu">
                                    {% for product in all_products_list|slice:":5" %}
                                        <li><a href="">{{ product.short_description  }}</a></li>
                                    {% endfor %}                                
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li><span></span></li>
            <li><a href="">Ocassion</a></li>
            <li><a href="">Accessories</a></li>
            {% url 'satchmo_product_best_selling' as popularurl %}
            {% if popularurl %}
                <li><a href="{{ popularurl }}">Popular Items</a></li>
            {% endif %}
            {% url 'satchmo_product_recently_added' as recenturl %}
            {% if recenturl %}
                <li><a href="{{ recenturl }}">Recently Added</a></li>
            {% endif %}
        </ul>
        {% satchmo_search_form %}
        <ul class="secondary-nav">
            {% if user.is_staff %}
                <li><a href="{% url 'admin:index' %}"
                       target="blank">Admin</a></li>
            {% endif %}

            {% if user.is_authenticated %}
                {% url 'satchmo_account_info' as accounturl %}
                {% if accounturl %}
                    <li><a href="{{ accounturl }}" target="blank">Account
                        Details</a></li>
                {% endif %}
                <li><a href="{{ logout_url }}?next={{ request.path }}">Log
                    out</a></li>
            {% else %}
                <li><a href="{% url 'registration_register' %}">Register</a>
                </li>
                <li><a href="{{ login_url }}?next={{ request.path }}">Log
                    in</a></li>
            {% endif %}
            <li><span></span></li>
            {% url 'satchmo_cart' as carturl %}
            {% if carturl %}
                <li><a class="cart" href="{{ carturl }}"></a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
{% block footer %}
    <div id="footer">
        <div id="footer-items">
            <div class="footer-column">
                <p>About</p>
                <ul>
                    <li><a href="">How it works</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Press</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <p>My Account</p>
                <ul>
                    <li><a href="">Settings</a></li>
                    <li><a href="">Orders &amp; Returns</a></li>
                    <li><a href="">Report Someone</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <p>Contact Us</p>
                <ul>
                    <li><a href="">Email</a></li>
                    <li><a href="">Send Feedback</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-row">
            <ul>
                {# look up jinja's built-in filter for date retrieval#}
                <li><a href="">© {% now "Y" %} Ni</a></li>
                <li><a href="">Terms</a></li>
                <li><a href="">Privacy</a></li>
                <li><a href="">Copyright</a></li>
            </ul>
        </div>
    </div>
    </div>
{% endblock %}

{% block compressed-footer-scripts %}
    <script src="{{ STATIC_URL }}js/pickadate.js"></script>
    <script src="{{ STATIC_URL }}js/svgcheckbx.js"></script>
    <script>
        /* Form on the homepage*/

        $(function () {
            ['#delivery-date', '#return-date'].forEach(function (dateFormId) {
                $(dateFormId).pickadate({
                    onOpen: function () {
                        // scrollIntoView(this.$node);
                    }
                });
            });
        });
    </script>
{% endblock %}
