Django==1.7.4
django-allauth==0.19.1
django-caching-app-plugins==0.1.4
django-contrib-comments==1.5
django-debug-toolbar==1.2.2
django-keyedcache==1.5.1
django-livesettings==1.4-14
django-threaded-multihost==1.4-1
oauthlib==0.7.2
Pillow==2.7.0
pycrypto==2.6.1
python-openid==2.2.5
PyYAML==3.11
requests==2.5.1
requests-oauthlib==0.4.2
sorl-thumbnail==12.2
South==1.0.2
sqlparse==0.1.14
psycopg2==2.6
django-compressor==1.4
beautifulsoup4==4.3.2
