{% extends "base.html" %}
{% load i18n %}
{% load satchmo_cart %}
{% load satchmo_currency %}
{% load satchmo_util %}
{% load satchmo_product %}
{% load satchmo_discounts %}
{% load normalize_decimal %}

{% block content %}
<div class="checkout-form form-bg">
    {% if error_message %}
        <div class="error">{{ error_message }}</div>
    {% endif %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %}
                    class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if not cart|length %}
        <div class="empty-cart">
            <div>
                <h2>{% trans "Your bag is empty." %}</h2>
                {% if popularurl %}
                    <p><a href="{{ popularurl }}">Shop our most popular
                        items</a></p>
                {% endif %}
                {% if recenturl %}
                    <p><a href="{{ recenturl }}">Shop recently added items</a>
                    </p>
                {% endif %}
            </div>
            {# assign this as a bg image when we get a real image for it #}
            <div><img src="/static/images/empty.png"></div>
        </div>
    {% else %}
            <ul class="form-container"> 
            {% for cartitem in cart %}
                <li>
                    <div class="item-info">
                        {# assign this to product images, example for now below #}
                        <div class="item-image">
                            <img src="http://upload.wikimedia.org/wikipedia/en/a/a7/Random_Access_Memories.jpg">
                        </div>
                        <div class="item-desc">
                            <a href="{{ cartitem.product.get_absolute_url }}">{{ cartitem.description }}</a>
                            <p>{{ cartitem.translated_description }}</p>
                        </div>
                        <div class="item-price">
                        {% if sale %}
                            {{ cartitem.unit_price|currency }}
                        {% endif %}
                            {{ cartitem|discount_line_unit_price:sale|currency }}
                        </div>
                    </div>
                    <div class="item-interactions">
                        <div class="item-quantity">
                            <form class="qtyform" id="form-{{ cartitem.id }}"
                            action="{% url 'satchmo_cart_set_qty' %}"
                            method="post">{% csrf_token %}
                                <input type="hidden" name="cartitem"
                                value="{{ cartitem.id }}"/>
                                <input type="text" name="quantity" id="id_quantity"
                                value="{{ cartitem.quantity|normalize_decimal }}"/>
                                <input type="submit" id="id_update_submit"
                                value="{% trans 'update' %}"/>
                            </form>
                        </div>
                        <div class="item-remove">
                            <form action="{% url 'satchmo_cart_remove' %}"
                            method="post">{% csrf_token %}
                                <input type="hidden" name="cartitem"
                                value="{{ cartitem.id }}"/>
                                <input type="submit" value="{% trans 'x' %}"/>
                            </form>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        <div class="cart-summary">
            <ul class="steps">
                <li>
                    <b>{% trans "Cart Stuff Here" %}::</b>
                    <span>{{ cart|discount_cart_total:sale|currency }}</span>
                </li>
            </ul>
            <ul class="checkout">
                <li>
                    <b>{% trans "Cart Total" %}::</b>
                    <span>{{ cart|discount_cart_total:sale|currency }}</span>
                </li>
                <li>
                    <a class="button" href="{% url 'satchmo_checkout-step1' %}">{% trans "Checkout" %}</a>
                </li>
            </ul>
        </div>
    {% endif %}
</div>
{% endblock %}