/* =============== BEGIN: Globals ===================== */

body {
    color: #666;
    font-family: 'Muli', sans-serif;
    font-size: .8rem;
    margin: 0;
    min-width: 1140px;
    padding: 0;
}

a {
    color: #666;
    font-family: 'Muli', sans-serif;
    font-size: .8rem;
    text-decoration: none;
}

h1 {
    border-bottom: 2px groove rgba(255, 255, 255, .2);
    color: #666;
    font-weight: 300;
    padding: 1rem;
    text-transform: uppercase;
}
 
ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input {
    border-radius: 3px;
    border: 1px solid #eee;
    display: block;
}

input:focus {
    background: #fff;
    border: 1px solid #bba3d0;
    box-shadow: 0 0 0 500px #fff inset;
    outline: none;
}
 
input[type=text] {
    background: #f9f9f8;
    box-shadow: inset 0 1px 2px #eee, 0 0 0 500px #fbfbfb inset;
    height: 2rem;
    padding-left: .4rem;
    width: 100%;
}

#container {
    line-height: 130%;
    margin: 0;
    padding: 0;
    width: 100%;
}
 
#navbar {
    -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .25);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .25);
    background-color: #fff;
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .25);
    color: #333;
    height: 5rem;
    line-height: 90%;
    width: 100%;
}
 
/* Buttons w/ gray backgrounds */ 

.btn {
    background: #fbfbf8;
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    display: block;
    margin: 2rem auto;
    padding: 1rem;
    position: relative;
    text-align: center;
    width: 15%;
}
 
.btn:after {
    content: '\00BB \0020';
    font-size: 1rem;
    padding: .4rem;
}

/* Submit Buttons */ 

input[type=submit] {
    background: #ddd1e7;
    background: -moz-linear-gradient(top, #ddd1e7 2%, #bba3d0 8%, #aa8cc5 58%, #9975b9 95%, #885ead);
    background: -ms-linear-gradient(top, #ddd1e7 2%, #bba3d0 8%, #aa8cc5 58%, #9975b9 95%, #885ead);
    background: -o-linear-gradient(top, #ddd1e7 2%, #bba3d0 8%, #aa8cc5 58%, #9975b9 95%, #885ead);
    background: -webkit-linear-gradient(top, #ddd1e7 2%, #bba3d0 8%, #aa8cc5 58%, #9975b9 95%, #885ead);
    border-color: #ddd1e7 #bba3d0 #aa8cc5;
    border: none;
    color: #eee;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    font-size: .8rem;
    height: 2.3rem;
    padding: 0;
    width: 100%;
    z-index: 1;
}
 
#sidebar-secondary {
    float: left;
    margin: 0;
    padding: 1rem;
    width: 240px;
}
 
#sidebar-primary {
    background-color: #ddd;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
    float: right;
    margin: 0;
    padding: 1rem;
    width: 160px;
}
   
/* =============== END: Globals ===================== */

/* =============== BEGIN: Header ===================== */

#navbar ul {
    float: left;
    margin: 3rem 0 0 0;
    padding: 0;
}

#navbar ul li {
    display: inline-block;
    height: 1rem;
    list-style: none;
    padding-left: .5rem;
    padding-right: .5em;
}
     
#navbar ul li span {
    border-left: 1px solid #e5e5e5;
    float: left;
    height: 1.5rem;
    width: 1px;
}
     
#navbar ul li.first {
    border-left: none;
    padding-left: 0;
}
 
#navbar #secondary-nav {
    float: right;
    margin-left: 1rem;
    margin-right: 8rem;
}
 
#navbar #secondary-nav #cart {
    background: url(http://i.imgur.com/C0tCBjr.png) no-repeat;
    display: block;
    height: 1.5rem;
    width: 2rem;
}
 
#navbar #search {
    display: inline-block;
    float: left;
    left: 20px;
    overflow: hidden;
    position: relative;
    top: 46%;
    width: 250px;
}
#navbar #search input[type=submit] {
    position: absolute;
    right: 0rem;
    top: 0rem;
    width: 4.5rem;
}
 
#navbar div:last-of-type {display: inline-block}
 
#navbar #logo {
    background-position: center;
    background: url(/static/images/hanger.png) no-repeat;
    float: left;
    height: 4rem;
    margin: .4rem 1rem 0 .4rem;
    overflow: hidden;
    width: 7rem;
}

.down-arrow:after {
    color: #bbb;
    content: '▾';
    font-size: .7rem;
    left: .2rem;
    line-height: 1rem;
    margin: 0 .1rem;
    position: relative;
    top: 0rem;
}

/* =============== END: Header ===================== */

/* =============== BEGIN: Footer ===================== */

#footer-items {
    border-bottom: 1px solid #ccc;
    display: table;
    margin: 0 auto;
    padding: 1rem;
}
 
#footer-items div:not(:last-of-type) {margin-right: 4rem}
 
.footer-column {float: left}
 
.footer-column p {
    font-weight: 500;
    margin: 0;
    text-transform: uppercase;
}
 
.footer-column ul {
    list-style: none;
    margin: 0;
    padding: .2rem 0;
}
 
.footer-column a:hover {text-decoration: underline}
 
.footer-row {text-align: center}
 
.footer-row li {
    display: inline-block;
    margin-right: 1.5rem;
}
 
.footer-row li a {
    color: #989898;
    font-size: .7rem;
}

/* =============== END: Footer ===================== */

 #content div.productreviews {
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
}

#content div.productreviews span.label {
    float: left;
    width: 80px;
}
 
#footer {
    background-color: #dfdfdf;
    clear: both;
    color: #333;
    height: 12rem;
    margin: 0;
    padding: .5em;
}
 
#sidebar-secondary p,
#sidebar-primary p {margin: 0 0 1em 0}
 
#content h2 {margin: 0 0 .5em 0}
 
.brandcategories {clear: both}
 
.brandImage,
.productImage {
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, .1);
    border-radius: 2px;
    border: solid 1px #e4e4e2;
    display: inline-block;
    text-align: center;
}
 
.productImage p {
    display: none;
    font-size: 10pt;
    text-align: center;
}
 
#menu_container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
 
#shipping ul li {
    list-style-type: none;
    padding-left: 1em;
    text-decoration: none;
    text-indent: -1em;
}
 
#checkoutprogress {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 25px;
    padding: 3px;
}
 
#checkoutprogress ul {
    border: none;
    display: inline;
    margin-left: 0;
    padding-left: 0;
}
 
#checkoutprogress ul li {
    display: inline;
    list-style: none;
    margin-left: 0;
    padding-left: 2px;
}
 
#checkoutprogress ul li:before {
    content: '0bb';
    display: inline;
    list-style: none;
}
 
#checkoutprogress ul li.first:before {content: ' '}
 
#checkoutprogress li.active {background-color: #ccc}
 
#product_category {margin: 2rem 0 0 15rem}
 
#product_category ul {text-align: center;}
 
#wishlist ul li,
#product_category ul li {
    background-color: white;
    display: inline-block;
    list-style: none;
    margin: 0 0 15px;
    vertical-align: middle;
}
 
#product_category ul li .product-image {display: block;}
 
#product_category ul li .product-image img {
        display: block;
        margin: 0 auto;
    }
 
#wishlist ul li a,
#product_category ul li a {
    display: block;
    padding: 10px 0;
    text-align: center;
}
 
#wishlist span.date {
    display: block;
    font-size: 10px;
    font-style: italic;
    margin-left: 5px;
}
 
#wishlist form {display: inline}
 
#menu_container a {
    border-bottom: 1px solid #fff;
    display: block;
    font-weight: bold;
    padding: 3px 17px 3px 8px;
    text-decoration: none;
    width: 9em;
}
 
#menu_container li li a {
    border-bottom: 1px solid #fff;
    display: block;
    font-weight: normal;
    padding: 3px 8px 3px 17px;
    text-decoration: none;
    width: 9em;
}
 
#menu_container li li li a {
    background-color: #c0c0c0;
    border-bottom: 1px solid #fff;
    color: #fff;
    display: block;
    font-weight: normal;
    padding: 3px 1px 3px 24px;
    text-decoration: none;
    width: 9em;
}
 
#menu_container a.current:before {
    color: purple;
    content: '020 020 020 0BB 020';
    font-size: 1rem;
    font-weight: 600;
}
 
.addressblock {
    padding-bottom: .5em;
    padding-top: .5em;
}
 
.profile li {list-style-type: none}
 
table.ordertable {
    font-size: 13px;
    font-weight: normal;
    width: 100%;
}
 
table.ordertable thead {background-color: #ddd}

table.ordertable span.orderitemqty {font-style: italic}
 
p {line-height: 150%}
 
.help,
p.help {
    color: #999;
    font-size: 9px !important;
}
 
img {border: none}
 
.error {
    color: red;
    text-align: center;
}
 
 
#featured-image {
    height: 600px;
    min-width: 1140px;
    overflow: hidden;
}
 
#featured-image img {width: 100%;}
 
#reserve-form {
    left: 12rem;
    position: absolute;
    top: 9rem;
}
 
#reserve-form fieldset {
    border: 0;
    margin: 1em 0;
    padding: 0;
    position: relative;
}

#reserve-form a {
    color: #0089ec;
    text-decoration: none;
}
 
#reserve-form a:hover {text-decoration: underline}
 
#reserve-form .whitespace:before {
    background: #f5f5f5;
    color: #ccc;
    content: '...some content here...';
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 1em 0;
    padding: 5em 0;
    text-align: center;
    text-transform: uppercase;
}
 
.picker {
    color: #000;
    font-size: 16px;
    line-height: 1.2;
    position: absolute;
    text-align: left;
    z-index: 10000;
}
 
.picker__input.picker__input--active {border-color: #0089ec}
 
.picker__holder {
    -webkit-overflow-scrolling: touch;
    overflow-y: auto;
    width: 100%;
}
 
.picker {width: 100%}
 
.picker__holder {
    -moz-border-radius: 0 0 6px 6px;
    -moz-box-sizing: border-box;
    -moz-opacity: 0;
    -moz-transform: translateY(-1em) perspective(600px) rotateX(10deg);
    -moz-transition: all .15s ease-out, max-height 0 .15s;
    -ms-filter: 'alpha(Opacity=0)';
    -webkit-border-radius: 0 0 6px 6px;
    -webkit-box-sizing: border-box;
    -webkit-transform: translateY(-1em) perspective(600px) rotateX(10deg);
    -webkit-transition: all .15s ease-out, max-height 0 .15s;
    background: #fff;
    border-radius: 0 0 6px 6px;
    border-top: 0;
    border: 1px solid #aaa;
    box-sizing: border-box;
    filter: alpha(opacity=0);
    max-height: 0;
    max-width: 466px;
    min-width: 176px;
    opacity: 0;
    position: absolute;
    transform: translateY(-1em) perspective(600px) rotateX(10deg);
    transition: all .15s ease-out, max-height 0 .15s;
}
 
.picker--opened .picker__holder {
    -moz-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, .12);
    -moz-opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -webkit-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, .12);
    -webkit-transform: translateY(0) perspective(600px) rotateX(0);
    border-bottom-width: 1px;
    border-top-width: 1px;
    box-shadow: 0 6px 18px 1px rgba(0, 0, 0, 0.12);
    filter: alpha(opacity=100);
    max-height: 25em;
    opacity: 1;
    transform: translateY(0) perspective(600px) rotateX(0);
    transition: -webkit-transform 0.15s ease-out, opacity 0.15s ease-out, max-height 0s, border-width 0s;
    transition: transform 0.15s ease-out, opacity 0.15s ease-out, max-height 0s, border-width 0s;
}
 
.picker__box {padding: 0 1em}
 
.picker__header {
    margin-top: .75em;
    position: relative;
    text-align: center;
}
 
.picker__month,
.picker__year {
    display: inline-block;
    font-weight: 500;
    margin-left: .25em;
    margin-right: .25em;
}
 
.picker__year {
    color: #999;
    font-size: .8em;
    font-style: italic;
}
 
.picker__select--month,
.picker__select--year {
    border: 1px solid #b7b7b7;
    font-size: .8em;
    height: 2.5em;
    margin-left: .25em;
    margin-right: .25em;
    margin-top: -.5em;
    padding: .66em .25em;
}
 
.picker__select--month {width: 35%}
 
.picker__select--year {width: 22.5%}
 
.picker__select--month:focus,
.picker__select--year:focus {border-color: #0089ec}
 
.picker__nav--prev,
.picker__nav--next {
    height: 1em;
    padding: .5em 1.33em;
    position: absolute;
    top: -.33em;
    width: 1em;
}
 
.picker__nav--prev {
    left: -1em;
    padding-right: 1.5em;
}
 
.picker__nav--next {
    padding-left: 1.5em;
    right: -1em;
}
 
.picker__nav--prev:before,
.picker__nav--next:before {
    border-bottom: .5em solid transparent;
    border-right: .75em solid #000;
    border-top: .5em solid transparent;
    content: ' ';
    display: block;
    height: 0;
    margin: 0 auto;
    width: 0;
}
 
.picker__nav--next:before {
    border-left: .75em solid #000;
    border-right: 0;
}
 
.picker__nav--prev:hover,
.picker__nav--next:hover {
    background: #b1dcfb;
    color: #000;
    cursor: pointer;
}
 
.picker__nav--disabled,
.picker__nav--disabled:hover,
.picker__nav--disabled:before,
.picker__nav--disabled:before:hover {
    background: 0;
    border-left-color: whitesmoke;
    border-right-color: whitesmoke;
    cursor: default;
}
 
.picker__table {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: inherit;
    margin-bottom: .5em;
    margin-top: .75em;
    table-layout: fixed;
    text-align: center;
    width: 100%;
}
 
@media (min-height: 26.5em) {.picker__table} 
 
.picker__table td {
    margin: 0;
    padding: 0;
}

.picker__weekday {
    color: #999;
    font-size: .75em;
    font-weight: 500;
    padding-bottom: .25em;
    width: 14.285714286%;
}

@media (min-height: 26.5em) {.picker__weekday}
 
{}
 
.picker__day {
    border: 1px solid transparent;
    font-weight: 200;
    padding: .3125em 0;
}
 
.picker__day--today {
    color: #0089ec;
    position: relative;
}
 
        .picker__day--today:before {
            border-left: .5em solid transparent;
            border-top: .5em solid #0059bc;
            content: ' ';
            height: 0;
            position: absolute;
            right: 2px;
            top: 2px;
            width: 0;
        }
 
    .picker__day--selected,
.picker__day--selected:hover {border-color: #0089ec}
 
    .picker__day--highlighted {background: #b1dcfb}
 
    .picker__day--disabled:before {border-top-color: #aaa}
 
    .picker__day--outfocus {
        -moz-opacity: .66;
        -ms-filter: 'alpha(Opacity=66)';
        color: #ddd;
        filter: alpha(opacity=66);
        opacity: .66;
    }
 
    .picker__day--infocus:hover,
.picker__day--outfocus:hover {
        background: #b1dcfb;
        color: #000;
        cursor: pointer;
    }
 
    .picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
        background: #0089ec;
        color: #fff;
    }
 
    .picker__day--disabled,
.picker__day--disabled:hover {
        background: whitesmoke;
        border-color: whitesmoke;
        color: #ddd;
        cursor: default;
    }
 
    .picker__footer {text-align: center}
 
    .picker__button--today,
.picker__button--clear {
        background: #fff;
        border: 1px solid #fff;
        display: inline-block;
        font-size: .8em;
        font-weight: 700;
        padding: .66em 0;
        vertical-align: bottom;
        width: 50%;
    }
 
    .picker__button--today:hover,
.picker__button--clear:hover {
        background: #b1dcfb;
        border-bottom-color: #b1dcfb;
        color: #000;
        cursor: pointer;
    }
 
    .picker__button--today:focus,
.picker__button--clear:focus {
        background: #b1dcfb;
        border-color: #0089ec;
        outline: 0;
    }
 
    .picker__button--today:before,
.picker__button--clear:before {
        display: inline-block;
        height: 0;
        position: relative;
    }
 
    .picker__button--today:before {
        border-left: .66em solid transparent;
        border-top: .66em solid #0059bc;
        content: ' ';
        margin-right: .45em;
        top: -.05em;
        width: 0;
    }
 
    .picker__button--clear:before {
        color: #e20;
        content: 'D7';
        font-size: 1.1em;
        margin-right: .35em;
        top: -.1em;
        vertical-align: top;
    }
 
    .featured-container {
        -moz-box-shadow: 0 -3px 5px rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .2);
        -ms-box-shadow: 0 -3px 5px rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .2);
        -webkit-box-shadow: 0 -3px 5px rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .2);
        background: #fff;
        box-shadow: 0 -3px 5px rgba(0, 0, 0, .1), 0 2px 5px 0 rgba(0, 0, 0, .2);
        margin: -5rem 3rem 0;
        overflow: hidden;
        position: relative;
        text-align: center;
    }
 
    .recommendations-container {
        margin-top: 3rem;
        text-align: center;
    }
 
    .container-items div:not(:last-of-type) {margin-right: 2rem}
  
.recentview h3 {padding-bottom: 10px}
 
.recentitem {padding-bottom: 10px}
 
div.recentlyadded {display: block}
 
.qtyform #id_quantity {width: 5em}
 
#payment ul li {list-style-type: none}
 
/* ============ Upsell section ============== */
div.upsell {padding-top: 10px}
 
    div.upsell .upselldescription {padding-bottom: 10px}
 
/* ============ Empty Cart ============= */
.empty-cart {
    height: 13rem;
    margin: 2rem auto 0;
    width: 28rem;
}
 
    .empty-cart div:first-of-type {float: left;}
 
    .empty-cart div:last-of-type {float: right;}
 
    .empty-cart a:hover {text-decoration: underline;}
 
/* ========== My account ========== */
.my-account {
    margin: 0 auto;
    overflow: hidden;
    width: 71rem;
}
 
    .my-account .account-sidebar {
        -mozilla-border-radius: 5px;
        -webkit-border-radius: 5px;
        background-color: #f2edf6;
        border-radius: 5px;
        float: left;
        margin: 1rem 0 1rem 0;
        padding: 1rem;
        text-align: left;
        width: 11rem;
    }
 
        .my-account .account-sidebar li {
            border-top: 1px solid #dadbd6;
            display: block;
            padding: 0.5rem;
        }
 
        .my-account .account-sidebar a:hover {color: #999;}
 
    .my-account .account-primary {
        float: left;
        margin: 1rem;
        width: 55rem;
    }
 
    .my-account .section {
        background-color: #FFF;
        border-radius: 5px;
        border: 1px solid #dadbd6;
        float: left;
        height: auto;
        margin-bottom: 24px;
        width: 50.3rem;
    }
 
    .my-account .about-me,
.my-account .address-book {width: 24rem;}
 
    .my-account .about-me {margin-right: 2rem;}
 
    .my-account .profile {
        margin: 1rem;
        padding: 0.5rem;
    }
 
        .my-account .profile label {display: block;}
 
        .my-account .profile input {
            height: 1.5rem;
            width: 14rem;
        }
 
    .my-account h5 {
        background-color: #f2edf6;
        border-radius: 4px 4px 0 0;
        font-size: 1rem;
        padding: 0.6rem 1.5rem;
    }
 
    .my-account button,
.my-account input[type="submit"] {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background: #aa8cc5;
        border-color: #ddd1e7 #bba3d0 #aa8cc5;
        border-radius: 3px;
        border: 1px solid;
        color: #FFF;
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        line-height: normal;
        margin: 0;
        padding: 7px 15px 8px;
        text-decoration: none;
    }
 
    .my-account h4 {
        border-bottom: 1px solid #ccc;
        font-size: 1rem;
        padding-bottom: 1rem;
    }
 
/* ============ Individual Product Page ======= */
#product-individual-wrapper {
    margin: 2rem auto;
    width: 1055px;
}
 
#product-individual {
    display: inline-block;
    width: 100%;
}
 
    #product-individual #addcart {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background: -webkit-linear-gradient(top, #ddd1e7 2%, #bba3d0 8%, #aa8cc5 58%, #9975b9 95%, #885ead);
        border-color: #ddd1e7 #bba3d0 #aa8cc5;
        border-radius: 3px;
        border: 1px solid #eee;
        color: #fff;
        cursor: pointer;
        display: block;
        font-size: 1rem;
        height: 2rem;
        line-height: normal;
        margin: 1rem auto;
        text-decoration: none;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
        width: 70%;
    }
 
    #product-individual select {background: transparent;}
 
    #product-individual .averagerating {display: inline;}
 
    #product-individual h4 {margin: 1rem 0 0;}
 
    #product-individual #options-checkout {
        background-color: #f2edf6;
        border-radius: 5px;
        padding: 1rem;
        text-align: center;
    }
 
    #product-individual #product-left {
        float: left;
        width: 40%;
    }
 
        #product-individual #product-left ul {
            float: left;
            margin: 0 3rem 0 0;
            padding: 0;
        }
 
    #product-individual #product-right {
        float: right;
        width: 60%;
    }
 
        #product-individual #product-right img {vertical-align: middle;}
 
/* Product Ratings */
.productreviews h4,
.productreviews h2 {text-align: center;}
 
.productreviews h4 {
    border-top: 1px dotted #ccc;
    margin: 0;
    padding: 1.5rem;
}
 
.productreviews .comment {
    background: #f2edf6;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
}
 
.productreviews form {text-align: center;}
 
.errorlist {color: red;}
 
#id_size label {
    border-radius: 100px;
    border: 1px solid #ddd;
    height: 35px;
    line-height: 35px;
    padding: 4px;
    text-align: center;
    width: 35px;
}
 
form#search-page label {
    display: block;
    margin-top: 15px;
}
 
#id_price_range li {display: block;}
 
form#search-page input[type=submit] {margin-top: 20px;}
 
/* Registration Pages */
.login-form,
.register-form,
.reset-password-form,
.checkout-form,
.ship-form {
    background: #fafafc url("http://subtlepatterns.com/patterns/concrete_seamless.png") top center repeat;
    padding: 2rem;
}
 
.register-container,
.ship-container {
    -moz-border-radius: 3px;
    -moz-box-shadow: 0 -1px 5px rgba(0, 0, 0, .1), 0 2px 5px 0 rgba(0, 0, 0, .2);
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-box-shadow: 0 -1px 5px rgba(0, 0, 0, .1), 0 2px 5px 0 rgba(0, 0, 0, .2);
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, .1), 0 2px 5px 0 rgba(0, 0, 0, .2);
    margin: 0 auto;
    padding: 0.5rem 1rem;
    position: relative;
    width: 22rem;
}
 
.ship-container {width: 60rem;}
 
.register-container h4 {
    margin-top: 1.2rem;
    text-align: center;
}
 
.register-container input,
.ship-container input {
    border: 1px solid #999;
    box-sizing: border-box;
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 200;
    height: 2.5rem;
    margin: 0.5rem 0 0.5rem 0rem;
    width: 100%;
}
 
.login-container input[type=submit] {
    background: #ddd1e7;
    background: -moz-linear-gradient(top, #ddd1e7 2%, #bba3d0 8%, #aa8cc5 58%, #9975b9 95%, #885ead);
    background: -ms-linear-gradient(top, #ddd1e7 2%, #bba3d0 8%, #aa8cc5 58%, #9975b9 95%, #885ead);
    background: -o-linear-gradient(top, #ddd1e7 2%, #bba3d0 8%, #aa8cc5 58%, #9975b9 95%, #885ead);
    background: -webkit-linear-gradient(top, #ddd1e7 2%, #bba3d0 8%, #aa8cc5 58%, #9975b9 95%, #885ead);
    border-color: #ddd1e7 #bba3d0 #aa8cc5;
    border: none;
    color: #eee;
    cursor: pointer;
    display: block;
    width: 100%;
}
 
/* Checkout Pages... normalize this after done, it's ugly */
.checkout-container {
    margin: 0 auto;
    padding: 0;
    width: 35rem;
}
 
    .checkout-container li {
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
        margin-bottom: 2rem;
    }
 
.checkout-ship {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
    margin-bottom: 2rem;
    margin: 2rem auto;
    padding: 2rem;
    width: 45rem;
}
 
.cart-item {width: 100%;}
 
.item-info {display: table;}
 
.item-image {
    border-bottom: 0;
    border-right: 1px solid rgba(221, 221, 221, 0.35);
    display: table-cell;
    padding: 0;
    width: 7em;
}
 
    .item-image img {
        border-radius: 5px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        display: block;
        height: auto;
        margin: 0 auto;
        width: 75%;
    }
 
.item-desc {
    border-right: 1px solid rgba(221, 221, 221, 0.35);
    display: table-cell;
    margin-bottom: 0.5rem;
    margin-top: 0;
    padding: 0.75em 1em;
    vertical-align: middle;
    width: 23em;
}
 
.item-price {
    background-color: #fcfcfc;
    border-radius: 0 3px 3px 0;
    color: #aa8cc5;
    display: table-cell;
    font-size: 1rem;
    font-weight: bold;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 12rem;
}
 
.item-interactions {
    border-top: 1px solid rgba(221, 221, 221, 0.35);
    color: #666;
    display: block;
    font-size: 0.8em;
    padding: 1.5em;
    width: 100%;
}
 
.item-quantity {
    float: left;
    margin-bottom: 0;
    margin-top: 0;
}
 
.item-remove {
    float: right;
    padding: 0.5rem;
    width: 3rem;
}
 
.cart-summary {
    margin: 2rem auto;
    overflow: hidden;
    width: 35rem;
}
 
    .cart-summary .button {
        background-color: #e66b1e;
        background: #ddd1e7;
        background: -moz-linear-gradient(top, #ddd1e7 2%, #bba3d0 8%, #aa8cc5 58%, #9975b9 95%, #885ead);
        background: -ms-linear-gradient(top, #ddd1e7 2%, #bba3d0 8%, #aa8cc5 58%, #9975b9 95%, #885ead);
        background: -o-linear-gradient(top, #ddd1e7 2%, #bba3d0 8%, #aa8cc5 58%, #9975b9 95%, #885ead);
        background: -webkit-linear-gradient(top, #ddd1e7 2%, #bba3d0 8%, #aa8cc5 58%, #9975b9 95%, #885ead);
        border-color: #ddd1e7 #bba3d0 #aa8cc5;
        border-radius: 3px;
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
        color: #fff;
        cursor: pointer;
        display: block;
        font-weight: bold;
        padding: 1rem;
        text-align: center;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
    }
 
.steps,
.checkout {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    float: left;
    width: 16.75em;
}
 
.steps {
    margin-bottom: 0;
    margin-right: 1.5rem;
}
 
    .steps li,
.checkout li {
        border-bottom: 1px solid rgba(221, 221, 221, 0.35);
        padding: 1em;
    }
 
.cart-item:after, 
.item-interactions:after, 
.summary:after {
    clear: both;
    content: "";
    display: table;
}