/* =============== BEGIN: Globals ===================== */

body {
    color: #666;
    font-family: 'Muli', sans-serif;
    font-size: 1em;
    margin: 0;
    min-width: 1140px;
    padding: 0;
}

a {
    color: #666;
    font-family: 'Muli', sans-serif;
    font-size: .8em;
    text-decoration: none;
}

p {
    font-size: 0.8em;
    line-height: 150%
}

img {border: none}

h1 {
    border-bottom: 2px groove rgba(255, 255, 255, .2);
    font-size: 1.3em;
    font-weight: 300;
    padding-bottom: 0.5em;
    text-transform: uppercase;
}

h2 {font-size: 1.2em;}

h3 {font-size: 1.1em;}

h4 {font-size: 1em;}

h5 {
    background-color: #f2edf6;
    border-radius: 4px 4px 0 0;
    font-size: 0.8em;
    padding: 0.6em 1.5em;
}
 
ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#container input {
    background: #f9f9f8;
    border-radius: 3px;
    border: 1px solid #eee;
    box-shadow: inset 0 1px 2px #eee, 0 0 0 500px #fbfbfb inset;
    display: block;
    font-size: 0.8em;
    height: 2em;
    padding-left: .4em;
    width: 100%;
}

#container input:focus {
    border: 1px solid #bba3d0;
    box-shadow: 0 0 0 500px #fff inset;
    outline: none;
}
 
#container {
    line-height: 130%;
    margin: 0;
    padding: 0;
    width: 100%;
}
 
/* Buttons w/ gray backgrounds */ 

.btn {
    background: #fbfbf8;
    border-radius: 3px;
    border: 1px solid #e2e2e2;
    display: block;
    margin: 2em auto;
    padding: 1em;
    position: relative;
    text-align: center;
    width: 15%;
}
 
.btn:after {
    content: '\00BB \0020';
    font-size: 1em;
    padding: .4em;
}

/* Submit Buttons */ 

#container input[type=submit] {
    background: #ab8ec5;
    border-color: #ddd1e7 #bba3d0 #aa8cc5;
    border: none;
    box-shadow: none;
    color: #eee;
    cursor: pointer;
    font-family: 'Muli', sans-serif;
    font-size: .8em;
    height: 2.3em;
    padding: 0;
    width: 100%;
    z-index: 1;
}
 
#sidebar-secondary {
    float: left;
    margin: 0;
    padding: 1em;
    width: 15em;
}
 
#sidebar-primary {
    background-color: #ddd;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
    float: right;
    margin: 0;
    padding: 1em;
    width: 10em;
}

.error {
    color: #ff0000;
    text-align: center;
}

.form-bg {
    background: #fafafc url('/static/images/form-bg.png') top center repeat;
    padding: 2em;
}

.form-container {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, .1), 0 2px 5px 0 rgba(0, 0, 0, .2);
    margin: 0 auto;
    padding: 0.5em 1em;
    position: relative;
    width: 22em;
}
.form-container h1 {
    text-align: center;
}

.form-container input {
    margin-bottom: 1em;
}
   
/* =============== END: Globals ===================== */

/* =============== BEGIN: Header ===================== */

#navbar {
    background-color: #fff;
    border: none;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .25);
    color: #333;
    height: 5em;
    width: 100%;
}

#navbar ul {
    margin: 3em 0 0;
    padding: 0;
}

#navbar ul li {
    display: inline-block;
    height: 1em;
    padding-left: .5em;
    padding-right: .5em;
}

/* Nav divider */     

#navbar ul li span {
    border-left: 1px solid #e5e5e5;
    float: left;
    height: 1.5em;
    width: 1px;
}

#navbar .primary-nav {
    float: left;
}

#navbar .secondary-nav {
    float: right;
    margin-left: 1em;
    margin-right: 8em;
}
 
#navbar .secondary-nav .cart {
    background: url(/static/images/cart.png) no-repeat;
    display: inline-block;
    padding-left: 2rem;
    height: 1.5em;
}
 
#navbar .search {
    display: inline-block;
    left: 6em;
    overflow: hidden;
    position: relative;
    top: 2.5em;
    width: 15em;
}

#navbar .search input[type=submit] {
    position: absolute;
    right: 0;
    top: 0;
    width: 4.5em;
}
  
#navbar .logo {
    background: url(/static/images/hanger.png) no-repeat;
    float: left;
    height: 5em;
    margin: .4em 1em 0 .4em;
    overflow: hidden;
    width: 8em;
}

#navbar .down-arrow:after {
    color: #bbb;
    content: '▾';
    font-size: .7em;
    left: .2em;
    line-height: 1em;
    margin: 0 .1em;
    position: relative;
    top: 0;
}

/* =============== END: Header ===================== */

/* =============== BEGIN: Footer ===================== */

#footer {
    background-color: #dfdfdf;
    clear: both;
    color: #333;
    height: 12em;
    margin: 0;
    padding: .5em;
}

#footer #footer-items {
    border-bottom: 1px solid #ccc;
    display: table;
    margin: 0 auto;
    padding: 1em;
}
 
#footer #footer-items div:not(:last-of-type) {margin-right: 4em}
 
#footer .footer-column {float: left}
 
#footer .footer-column p {
    font-weight: 500;
    font-size: 0.8em;
    margin: 0;
    text-transform: uppercase;
}
 
#footer .footer-column ul {
    padding: .2em 0;
}

#footer .footer-row li {
    display: inline-block;
    margin-right: 1.5em;
}
 
#footer .footer-row li a {
    color: #989898;
    font-size: .7em;
}
 
#footer .footer-column a:hover {text-decoration: underline}
 
#footer .footer-row {text-align: center}
 

/* =============== END: Footer ===================== */

/* =============== BEGIN: Products ===================== */

.product-individual-wrapper {
    margin: 2em auto;
    width: 66em;
}
 
.product-individual {
    display: inline-block;
    width: 100%;
}
 
.product-individual .options-checkout {
    background-color: #f2edf6;
    border-radius: 5px;
    padding: 1em;
}

.product-individual input[type=submit] {
    margin-top: 1em;
}

.product-individual .product-left {
    float: left;
    width: 35%;
}

.product-individual .product-left ul {
    float: left;
    margin: 0 3em 0 0;
    padding: 0;
}

.product-individual .product-right {
    float: right;
    width: 65%;
} 

.product-individual .main-image {
    width: 100%;
    margin-bottom: 0.75em;
}

.product-individual .thumbnails img, .main-image img {
    max-width: 100%;
    padding: 0.3em;
    border: 1px solid #ccc;
    height: auto;
    background: #fff;
}

.product-individual .thumbnails {
    padding: 0;
}

.product-individual .thumbnails li {
    display: inline;
    margin: 0 10px 0 0;
    width: 2.5em;
}

.product-individual .thumbnails li img {
    width: 5em;

}

/* =============== END: Products ===================== */


/* =============== BEGIN: Product Reviews ===================== */

#productreviews {padding: 0.6em 0;}

#productreviews h4 {
    border-top: 1px dotted #ccc;
    margin: 0;
    padding: 1.5em;
    text-align: center;
}
 
#productreviews .comment {
    background: #f2edf6;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 1em;
}
 
#productreviews form {text-align: center;}

#productreviews .label {
    float: left;
    width: 5em;
}

/* =============== END: Product Reviews ===================== */

/* =============== BEGIN: Search Filters ===================== */

#search-page label {
    display: block;
    margin-top: 0.8em;
}
 
#search-page input[type=submit] {margin-top: 1.5em;}

/* =============== END: Search Filters ===================== */

/* =============== BEGIN: Product Categories ===================== */

#product-category {margin: 2em 0 0 15em}
 
#product-category ul {text-align: center;}
 
#wishlist ul li,
#product-category ul li {
    background-color: white;
    display: inline-block;
    margin: 0 0 0.9em;
    vertical-align: middle;
}
 
#product-category ul li .product-image {display: block;}
 
#product_category ul li .product-image img {
    display: block;
    margin: 0 auto;
}
 
#wishlist ul li a,
#product-category ul li a {
    display: block;
    padding: 0.6em 0;
    text-align: center;
}
 
#wishlist span.date {
    display: block;
    font-size: 0.7em;
    font-style: italic;
    margin-left: 0.3em;
}
 
#wishlist form {display: inline}
 
.product-pagination {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 25em;
} 

.product-pagination a,
.product-pagination p {
    display: inline-block;
} 


/* =============== END: Product Categories ===================== */

/* =============== BEGIN: Accounts ===================== */

.my-account {
    margin: 0 auto;
    overflow: hidden;
    width: 71em;
}
 
.my-account h4 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1em;
}

.my-account .account-sidebar {
    background-color: #f2edf6;
    border-radius: 5px;
    float: left;
    margin: 1em 0 1em 0;
    padding: 1em;
    text-align: left;
    width: 11em;
}
 
.my-account .account-sidebar li {
    border-top: 1px solid #dadbd6;
    display: block;
    padding: 0.5em;
}

.my-account .account-sidebar a:hover {color: #999;}
 
.my-account .account-primary {
    float: left;
    margin: 1em;
    width: 55em;
}
 
.my-account .section {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #dadbd6;
    float: left;
    height: auto;
    margin-bottom: 1.5em;
    width: 50.3em;
}
 
.my-account .about-me,
.my-account .address-book {width: 24em;}
 
.my-account .about-me {margin-right: 2em;}

.my-account .profile {
    margin: 1em;
    padding: 0.5em;
}

.my-account .profile label {display: block;}

.my-account .profile input {
    height: 1.5em;
    width: 14em;
}

/* =============== END: Accounts ===================== */

/* =============== BEGIN: Login/Registration ===================== */

.register-form li,
.login-form li,
.reset-password-form li {
    font-size: 0.8em;
}

.reset-password-form label,
.login-form label {
    font-size: 0.8em;
}

/* =============== END: Login/Registration ===================== */

/* =============== BEGIN: Checkout/Shipping ===================== */
 
.ship-form .form-container {
    width: 60em;
}

.checkout-form .form-container {
    box-shadow: none;
    padding: 0;
    width: 35em;
}
 
.checkout-form li {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
    margin-bottom: 2em;
}
 
#shipping ul li {
    padding-left: 1em;
    text-decoration: none;
    text-indent: -1em;
}
 
#checkoutprogress {
    border-style: solid;
    border-width: 1px;
    margin-bottom: 1.5em;
    padding: 3px;
}
 
#checkoutprogress ul {
    border: none;
    display: inline;
    margin-left: 0;
    padding-left: 0;
}
 
#checkoutprogress ul li {
    display: inline;
    margin-left: 0;
    padding-left: 0.1em;
}
 
#checkoutprogress ul li:before {
    content: '\00bb';
    display: inline;
}
 
#checkoutprogress ul li.first:before {content: ' '}
 
#checkoutprogress li.active {background-color: #ccc}

.checkout-form .empty-cart {
    height: 20em;
    margin: 2em auto 0;
    width: 30em;
}
 
.checkout-form .empty-cart div:first-of-type {float: left;}

.checkout-form .empty-cart div:last-of-type {float: right;}

.checkout-form .empty-cart img {
    width: 15em;
}

.checkout-form .cart-item {width: 100%;}
 
.checkout-form .item-info {display: table;}
 
.checkout-form .item-image {
    border-bottom: 0;
    border-right: 1px solid rgba(221, 221, 221, 0.35);
    display: table-cell;
    padding: 0;
    width: 7em;
}
 
.checkout-form .item-image img {
    border-radius: 5px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: auto;
    margin: 0 auto;
    width: 75%;
}
 
.checkout-form .item-desc {
    border-right: 1px solid rgba(221, 221, 221, 0.35);
    display: table-cell;
    margin-bottom: 0.5em;
    margin-top: 0;
    padding: 0.75em 1em;
    vertical-align: middle;
    width: 23em;
}
 
.checkout-form .item-price {
    background-color: #fcfcfc;
    border-radius: 0 3px 3px 0;
    color: #aa8cc5;
    display: table-cell;
    font-size: 1em;
    font-weight: bold;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 12em;
}
 
.checkout-form .item-interactions {
    border-top: 1px solid rgba(221, 221, 221, 0.35);
    display: block;
    width: 100%;
}
 
.checkout-form .item-quantity {
    float: left;
    padding: 0.5em;
}
 
.checkout-form .item-remove {
    float: right;
    padding: 0.5em;
    width: 3em;
}
 
.checkout-form .cart-summary {
    margin: 2em auto;
    overflow: hidden;
    width: 35em;
}

.checkout-form .steps,
.checkout-form .checkout {
    float: left;
    width: 16.75em;
}
 
.checkout-form .steps {
    margin-bottom: 0;
    margin-right: 1.5em;
}
 
.checkout-form .steps li,
.checkout-form .checkout li {
    border-bottom: 1px solid rgba(221, 221, 221, 0.35);
    padding: 1em;
}
 
.checkout-form .cart-item:after, 
.checkout-form .item-interactions:after {
    clear: both;
    content: "";
    display: table;
}

/* =============== END: Checkout/Shipping ===================== */

/* =============== BEGIN: Featured/Recommended Products ===================== */

.brandImage,
.productImage {
    display: inline-block;
}

#featured-image {
    height: 37.5em;
    min-width: 71.2em;
    overflow: hidden;
}
 
#featured-image img {width: 100%;}

.featured-container {
    background: #fff;
    box-shadow: 0 -3px 5px rgba(0, 0, 0, .1), 0 2px 5px 0 rgba(0, 0, 0, .2);
    margin: -5em 3em 0;
    overflow: hidden;
    position: relative;
    text-align: center;
}
 
.recommendations-container {
    margin-top: 3em;
    text-align: center;
}
 
.container-items div:not(:last-of-type) {margin-right: 2em}

/* =============== END: Featured/Recommended Products ===================== */

/* =============== BEGIN: Reserve Form ===================== */

#reserve-form {
    left: 12em;
    position: absolute;
    top: 9em;
}
 
#reserve-form fieldset {
    border: 0;
    margin: 1em 0;
    padding: 0;
    position: relative;
}

#reserve-form a {
    color: #0089ec;
    text-decoration: none;
}
 
#reserve-form a:hover {text-decoration: underline}
 
#reserve-form .whitespace:before {
    background: #f5f5f5;
    color: #ccc;
    content: '...some content here...';
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 1em 0;
    padding: 5em 0;
    text-align: center;
    text-transform: uppercase;
}
 
/* =============== END: Reserve Form ===================== */


/* ====BEGIN: MISCELLANEOUS - all of these are satchmo defaults, so remove/add if necessary ====*/

.addressblock {
    padding-bottom: .5em;
    padding-top: .5em;
}
 
table.ordertable {
    font-size: 13px;
    font-weight: normal;
    width: 100%;
}
 
.qtyform #id_quantity {width: 5em}

table.ordertable thead {background-color: #ddd}

table.ordertable span.orderitemqty {font-style: italic}
  
.help,
p.help {
    color: #999;
    font-size: 9px !important;
}
 
.brandcategories {clear: both}

div.upsell {padding-top: 10px}
 
div.upsell .upselldescription {padding-bottom: 10px}

/* =============== END: MISCELLANEOUS ===================== */
