{% extends "product/product.html" %}{% load url from future %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_price %}
{% load satchmo_ratings %}
{% load satchmo_util %}
{% load satchmo_currency satchmo_category %}
{% load satchmo_discounts satchmo_tax %}
{% load app_plugins %}
{% load satchmo_thumbnail %}

{% block compressed-head-js %}
    {% include "shop/_jquery_form.html" %}
    <script type="text/javascript"
            src="{{ STATIC_URL }}js/satchmo_product.js"></script>
    {% blackbird_logging %}
    <script type="text/javascript">{# Javascript which is generated uniquely for each page #}
    satchmo.default_view_tax =
            {% if default_view_tax %}true{% else %}false{% endif %};

    satchmo.set_option_ids([{% for option_group in options %}{{ option_group.id }}{% if not forloop.last %}, {% endif %}{% endfor %}]);

    $(function () {
        satchmo.update_price();
        $('.priced').change(function () {
            satchmo.update_price()
        });
    });

    // generate thumbnails for all alternate images
    satchmo.thumbnails = [];
    {{ details|js_thumbnail_array:"width=280,height=280" }}
    </script>
{% endblock %}

{% block content %}

<div class="product-individual-wrapper">
    <div class="product-individual">

        <div class="slider-wrapper theme-light product-left">
            <div id="product-carousel" class="nivoSlider">
                {% for pic in product.productimage_set.all %}
                    {% thumbnail pic.picture "280x400" as image %}
                        <img src="{{ image.url }}"
                             width="{{ image.width }}"
                             height="{{ image.height }}"/>
                    {% endthumbnail %}
                {% endfor %}
            </div>
        </div>

        <div class="product-right">
            <h2>{{ product.translated_name }}</h2>

            <p>{{ product.translated_description }}</p>
            {% if default_view_tax %} {% trans '(incl. tax)' %}{% endif %}
            <h3>{% spaceless %}
                {% if sale %}
                    <div id="fullprice">{{ product|discount_price:""|currency }}</div>
                {% endif %}
                <span id="price">{{ product|discount_price:sale|currency }}</span>
                {% trans "Rental" %}
                {% with product|product_rating_average_string as rating %}
                    <p class="averagerating">{% blocktrans %}Average
                        rating: {{ rating }}{% endblocktrans %}</p>
                {% endwith %}
            {% endspaceless %}</h3>

            {% with product.translated_attributes as atts %}{% if atts %}
                <p class="productattributes">
                    {% for att in product.translated_attributes %}
                        {{ att.description }}: {{ att.value }}<br/>
                    {% endfor %}
                </p>
            {% endif %}{% endwith %}

            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>{% endif %}
            <div class="options-checkout">
                <form id="options" action="{% url 'satchmo_smart_add' %}"
                      method="post">{% csrf_token %}

                    {% for option_group in options %}
                        {{ option_group.name }}
                        <select name="{{ option_group.id }}"
                                id="{{ option_group.id }}" class="priced">
                            {% for choice in option_group.items %}
                                <option value="{{ choice.value }}"
                                        {% if choice.selected %}selected="selected"{% endif %}>{{ choice.translated_name }}
                                    {% if choice.price_change %}
                                        {% option_price choice %}
                                    {% endif %}
                                </option>
                            {% endfor %}
                        </select>
                    {% endfor %}
                    <input type="hidden" size="2" name="quantity"
                           id="quantity" value="1" class="priced"/>
                    <input type="hidden" name="productname" id="productname"
                           value="{{ product.slug }}"/>
                    <input id="addcart" type="submit" name="addcart"
                           value="{% trans "Reserve" %}"/>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %}

{% block compressed-footer-scripts %}
    <script type="text/javascript"
            src="{{ STATIC_URL }}js/vendor/jquery-2.1.3.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.nivo.slider.pack.js"></script>
    <script type="text/javascript">
    jQuery(window).load(function(){
        jQuery("#product-carousel").nivoSlider({
        startSlide:1,
        directionNav:true,
        controlNav:true,
        controlNavThumbs:false,
        manualAdvance:true
        });
    });
    </script>
{% endblock %}
