{% extends "product/product.html" %}{% load url from future %}
{% load i18n %}
{% load thumbnail %}
{% load satchmo_price %}
{% load satchmo_ratings %}
{% load satchmo_util %}
{% load satchmo_currency satchmo_category %}
{% load satchmo_discounts satchmo_tax %}
{% load app_plugins %}
{% load satchmo_thumbnail %}

{% block content %}

    <div class="product-individual-wrapper">
        <div class="product-individual">
            <div class="product-left">
                <div class="main-image">
                    {% for pic in product.productimage_set.all %}
                        {% if forloop.first %}
                            {% thumbnail pic.picture "400x400" as image %}
                                <img src="{{ image.url }}"
                                    width="{{ image.width }}"
                                    height="{{ image.height }}"
                                    class="custom"/>
                            {% endthumbnail %}
                        {% endif %}
                    {% endfor %}		
                </div>

                <ul class="thumbnails">
                    <li>
                        {% for pic in product.productimage_set.all %}
                            {% thumbnail pic.picture "400x400" as image %}
                                <a href="{{ image.url }}">
                            {% endthumbnail %}
                            {% thumbnail pic.picture "100x100" as image %}
                                <img src="{{ image.url }}"
                                    width="{{ image.width }}"
                                    height="{{ image.height }}"/>
                            {% endthumbnail %}
                        {% endfor %}
                    </li>
                </ul>   
            </div>

            <div class="product-right">
                <h2>{{ product.translated_name }}</h2>

                <p>{{ product.translated_description }}</p>
                    {% if default_view_tax %} {% trans '(incl. tax)' %}{% endif %}
                <h3>
                    {% spaceless %}
                        {% if sale %}
                            <div id="fullprice">{{ product|discount_price:""|currency }}</div>
                        {% endif %}
                            <span id="price">{{ product|discount_price:sale|currency }}</span>
                        {% trans "Rental" %}
                        {% with product|product_rating_average_string as rating %}
                            <p class="averagerating">{% blocktrans %}Average
                            rating: {{ rating }}{% endblocktrans %}</p>
                        {% endwith %}
                    {% endspaceless %}
                </h3>

                {% with product.translated_attributes as atts %}
                    {% if atts %}
                        <p class="productattributes">
                            {% for att in product.translated_attributes %}
                                {{ att.description }}: {{ att.value }}<br/>
                            {% endfor %}
                        </p>
                    {% endif %}
                {% endwith %}

                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}
                <div class="options-checkout">
                    <form id="options" action="{% url 'satchmo_smart_add' %}"
                    method="post">{% csrf_token %}

                        {% for option_group in options %}
                            {{ option_group.name }}
                            <select name="{{ option_group.id }}"
                            id="{{ option_group.id }}" class="priced">
                            {% for choice in option_group.items %}
                                <option value="{{ choice.value }}"
                                    {% if choice.selected %}selected="selected"{% endif %}>{{ choice.translated_name }}
                                    {% if choice.price_change %}
                                        {% option_price choice %}
                                    {% endif %}
                                </option>
                            {% endfor %}
                            </select>
                        {% endfor %}
                        <input type="hidden" size="2" name="quantity"
                        id="quantity" value="1" class="priced"/>
                        <input type="hidden" name="productname" id="productname"
                        value="{{ product.slug }}"/>
                        <input id="addcart" type="submit" name="addcart"
                        value="{% trans "Reserve" %}"/>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block compressed-footer-scripts %}
    <script src="{{ STATIC_URL }}js/product_gallery.js"></script>
{% endblock %}
