{% extends "account/base.html" %}

{% load url from future %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="my-account">
    <div class="account-sidebar">
        <ul>
            <li><a href="{{ accounturl }}">{% trans "Account" %}</a></li>
            <li><a href="{% url 'satchmo_profile_update' %}">{% trans "Update your profile" %}</a></li>
            <li><a href="{% url 'satchmo_address_create' %}">{% trans "Add address book entry" %}</a></li>
            <li><a href="{% url 'auth_password_change' %}">{% trans "Change your password" %}</a></li>
            <li><a href="{% url 'satchmo_order_history' %}">{% trans "Order History" %}</a></li>
        <ul>
    </div>
    <div class="account-primary">
        <div class="section change-password">
        	<h5>{% trans "Change Password" %}</h5>
        	<div id="changepassword" class="profile">
			    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
			        {% csrf_token %}
			        {{ form.as_p }}
			        <button type="submit" name="action">{% trans "Change Password" %}</button>
			    </form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
