{% extends "base.html" %}{% load url from future %}
{% load i18n %}
{% load satchmo_contact %}

{% block content %}
<div class="my-account">
    {% if user_data %}
    {# TODO: create a block for the sidebar #}
    <div class="account-sidebar">
        <h3>Account Settings</h3>
        <ul>
            <li><a href="{{ accounturl }}">{% trans "Account" %}</a></li>
            <li><a href="{% url 'satchmo_profile_update' %}">{% trans "Update your profile" %}</a></li>
            <li><a href="{% url 'satchmo_address_create' %}">{% trans "Add address book entry" %}</a></li>
            <li><a href="{% url 'auth_password_change' %}">{% trans "Change your password" %}</a></li>
            <li><a href="{% url 'satchmo_order_history' %}">{% trans "Order History" %}</a></li>
        <ul>
        {% if shop.owner == User %}
        <h3>Manage your Shop</h3>
        <ul>
            <li><a href="">View Shop</a></li>
            <li><a href="">Add a Product</a></li>
        </ul>
        {% else %}
        <h3>Become a Vendor</h3>
        <ul>
            <li><a href="/create/">Create a Shop</a></li>
            <li><a href="">Shop Handbook</a></li>
        </ul>
        {% endif %}
    </div>
    <div class="account-primary">
        <div class="section about-me">
            <h5>{% trans "Your profile" %}</h5>
            <ul class="profile">
                <li>{% trans 'Email:' %} {{ user_data.email }}</li>
                {% if user_data.organization %}
                <li>{% trans 'Organization:' %} {{ user_data.organization.name }}</li>
                {% endif %}
                <li>{% trans 'Birthday:' %} {{ user_data.dob|default_if_none:"--" }}</li>
                {% if show_newsletter %}
                <li>{% trans 'Newsletter:' %} {% if newsletter %}{% trans 'Yes' %}{% else %}{% trans 'No' %}{% endif %}</li>
                {% endif %}
                <li>{% trans 'Billing Address:'%}<br/>{% addressblock user_data.billing_address %}</li>
                <li>{% trans 'Shipping Address:'%}<br/>{% addressblock user_data.shipping_address %}</li>    
            </ul>
        </div>
        <div class="section address-book">
        <h5>{% trans "Address Book Entries" %}</h5>
            <ul class="profile">
            {% for address in user_data.address_book_entries %}
                <li>{{ address.description }} <a href="{% url 'satchmo_address_edit' address.pk%}">{% trans 'Edit' %}</a> | <a href="{% url 'satchmo_address_delete' address.pk%}">{% trans 'Delete' %}</a></li>
                {% addressblock address %}
            {% endfor %}
            </ul>
        </div>
        <div class="section past-reviews">
        {# TODO: Add a 'past reviews' display #}
        <h5>{% trans "Past Reviews" %}</h5>
            <ul class="profile">
            {% for address in user_data.address_book_entries %}
                <li>{{ address.description }} <a href="{% url 'satchmo_address_edit' address.pk%}">{% trans 'Edit' %}</a> | <a href="{% url 'satchmo_address_delete' address.pk%}">{% trans 'Delete' %}</a></li>
                {% addressblock address %}
            {% endfor %}
            </ul>
        </div>
    </div>
    {% else %}
    <p>
        {% trans "Sorry, the user you've logged in as doesn't have any contact information." %}{% if request.user.is_staff %} {% trans 'Probably because you are an admin.' %}{% endif %}
    </p>
    <h5>{% trans "Account options" %}:</h5>
    <p>
        <a href="{% url 'satchmo_profile_update' %}">{% trans 'Set up contact information' %}</a>
        <br/>
        <a href="{% url 'auth_password_change' %}">{% trans "Change your password" %}</a>
    </p>
    {% endif %}
</div>
{% endblock %}