{% load url from future %}
{% load i18n %}

{% block content %}
<div id="login-box" class="login-popup">
	<a href="#" class="close"><img src="http://i.imgur.com/oBcGwu6.png" class="close" title="Close" alt="Close" /></a>

	{% if form.non_field_errors %}
	<p class="error">{% for err in form.non_field_errors %}{{ err }}{% if not forloop.last %}<br/>{% endif %}
	{% endfor %}</p>
	{% endif %}
	<form method="post" class="login" action=".">{% csrf_token %}
	<table>
	<tr>
		<td><label for="id_username">{% trans 'Email address' %}:</label></td>
		<td><input id="id_username" name="username" type="username"></td>
	</tr>
	{% if form.username.errors %}<tr><td class="error" colspan="2">***{{ form.username.errors|join:", " }}</td></tr>{% endif %}
	<tr>
		<td><label for="id_password">{% trans 'Password' %}:</label></td>
		<td><input id="id_password" name="password" type="password"></td>
	</tr>
	{% if form.password.errors %}<tr><td class="error" colspan="2">***{{ form.password.errors|join:", " }}</td></tr>{% endif %}
	</table>
	<input type="submit" value="{% trans 'Log in' %}" />
	<input type="hidden" name="next"
	{% if next %}
	    value={{ next }} />
	{% else %}
	     {% url 'satchmo_account_info' as accounturl %}
	     {% if accounturl %} value="{% url 'satchmo_account_info' %}" /> {% endif %}
	{% endif %}
	</form>
	<hr>
	{% comment %} We jump through hoops with the urls so it doesn't bomb with django's built in unit tests.{% endcomment %}
	{% url 'registration_register' as registration_register %}
	{% url 'auth_password_reset' as auth_password_reset %}
	{% if registration_register %}
	    <p>{% trans "Don't have an account?" %} <a href="{% url 'registration_register' %}">{% trans "Sign up" %}</a>.</p>
	{% endif %}
	{% if auth_password_reset %}
	    <p><a href="{% url 'auth_password_reset' %}">{% trans "Forgot password?" %}</p>
	{% endif %}
</div>
{% endblock %}
