{% extends "shop/base.html" %}{% load url from future %}
{% load i18n %}

{% block content %}
<div class="login-form">
    <div class="register-container">
        <h4>{% trans "Log in" %}</h4>
        {% if form.non_field_errors %}
        <p class="error">{% for err in form.non_field_errors %}{{ err }}{% if not forloop.last %}<br/>{% endif %}
        {% endfor %}</p>
        {% endif %}
        <form method="post">{% csrf_token %}
        <label for="id_username">{% trans 'Email' %}:</label>{{ form.username }}
        {% if form.username.errors %}<tr><td class="error" colspan="2">***{{ form.username.errors|join:", " }}{% endif %}
        <label for="id_password">{% trans 'Password' %}:</label>{{ form.password }}
        {% if form.password.errors %}<tr><td class="error" colspan="2">***{{ form.password.errors|join:", " }}{% endif %}

        {% url 'auth_password_reset' as auth_password_reset %}
        {% if auth_password_reset %}
            <a href="{% url 'auth_password_reset' %}">{% trans "Forgot Password?" %}</a>
        {% endif %}

        <input type="submit" value="{% trans 'Login' %}" />
        <input type="hidden" name="next"
        {% if next %}
            value={{ next }} />
        {% else %}
             {% url 'satchmo_account_info' as accounturl %}
             {% if accounturl %} value="{% url 'satchmo_account_info' %}" /> {% endif %}
        {% endif %}
        </form>
        {% comment %} We jump through hoops with the urls so it doesn't bomb with django's built in unit tests.{% endcomment %}
        {% url 'registration_register' as registration_register %}
        {% if registration_register %}
            <p>{% trans "Don't have an account?" %} <a href="{% url 'registration_register' %}">{% trans "Register" %}</a>.</p>
        {% endif %}

    </div>
</div>
{% endblock %}
